.avatar{
    height: 9.2rem;
    width: 9.10rem;
    border: 1px solid red;
    border-radius: 50%;
}

.code{
    width: 2.9rem;
    margin-left: -35px;
    
}

nav{
    display: grid;
    gap:1.6rem;
    margin: auto;
    background-image: url(/assets/Background_Intro.png);
    background-position: center center;
    background-size: cover;
    height: 98vh;
}

div .icons{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

div .social {
    height: 50px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "Maven Pro", sans-serif;
    padding: 4px 18px;
    background-color: var(--brand-base-gray-300);
    border-radius: 25px;
}

div .social a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--brand-base-gray-500);
}

div .social:hover{
    background-color: #505153;
}

span{
    color: var(--brand-color-red);
}

p.Inconsolata{
   font-family: "Inconsolata", monospace;
   font-size: 2.40rem;
   margin:3.5rem auto 0;
}

p.Maven{
    font-family:"Maven Pro", sans-serif;
    font-size: 1.4rem;
    color: var(--brand-base-gray-400);
    display: flex;
    justify-content: center;
    max-width: 67rem;
    margin: auto;
}

a.seta{
    margin: 5.875rem auto;
}

.info{
    margin: auto;
}